body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  color: rgb(67, 67, 211);
  text-align: center;
}

.form-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.add-product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
}
.add-product input {
  width: 1000px;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 18px;
}

.add-product input[type="file"] {
  padding: 0;
}

.add-product input[type="file"]::file-selector-button {
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-right: 12px;
}

.add-product label {
  font-size: 18px;
  margin-bottom: 4px;
}

.add-product .btn {
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: rgb(19, 118, 218);
  cursor: pointer;
}

.search {
  text-align: center;
  margin-top: 40px;
}
.search input {
  width: 1000px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 18px;
}

.product-display {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.table-data {
  text-align: center;
  border-collapse: collapse;
  font-size: 20px;
  text-transform: capitalize;
  width: 80%;
}

table,
td,
th {
  border: 1px solid #5f5f5f;
  padding: 10px 40px;

}


.table-data th {
  color: rgb(12, 85, 158);
  font-weight: bold;
}
.table-data .js-delete {
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color:tomato;
  cursor: pointer;
}
.table-body img{
  width: 90px;
}